#newsArea{
	width: 64%;
	margin-left:5px;
	float: left;
	height: 100%;
}
.newsItem{
	width: auto;
	float: left;
	height: 300px;
	margin-left: 2%;
	border-radius: 15px;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding: 10px 1em;

}
.newsItem img{
	width: 100%;

}
.newsItem p {
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}
#sidebar{
	margin-left: 65%;
	height:100%;
	
}
#newsArea2{
	boder: 1px solid ;
	float: left;
	width: 64%;
	min-height:300px ;
}
